body {
	font-family: 'Bree Serif', serif;
}

.jumbotron{
	background-color: gold;
	padding: 50px;
}

#col1 {
	background-color: orange;
	color: white;
}
#col2 {
	background-color: blue;
	color:gray;
}
#col3 {
	background-color: magenta;
}
#messageform{
	padding:30px 8%;
	background:linear-gradient(45deg, #f09433,#e6683c,#dc2743,#cc2366,#bc1888);
	color:white;
}

.item img {
	width: 50%;
	margin: auto;
	display: block;
	max-height: 600px;
	overflow: hidden;
}
#submit {
	transition-duration:0.2s;
}

#submit:hover {
	background-color: pink;
}
